/bin/win32/PhysXFramework32.dll.pdb
/bin/win32/PhysXFramework32.ilk
/bin/win32/PhysXFramework32DEBUG.dll.pdb
/bin/win32/PhysXFramework32DEBUG.ilk
/bin/win64/PhysXFramework64.dll.pdb
/bin/win64/PhysXFramework64.ilk
/bin/win64/PhysXFramework64DEBUG.dll
/bin/win64/PhysXFramework64DEBUG.dll.pdb
/bin/win64/PhysXFramework64DEBUG.ilk
/compiler/vc14win32/.vs/PhysXFramework/v14/.suo
/compiler/vc14win32/PhysXFramework.VC.db
/compiler/vc14win32/Win32/PhysXFramework/debug/ExtDefaultErrorCallback.obj
/compiler/vc14win32/Win32/PhysXFramework/debug/NvPhysXFramework.obj
/compiler/vc14win32/Win32/PhysXFramework/debug/PhysXFramework.log
/compiler/vc14win32/Win32/PhysXFramework/debug/PhysXFramework.tlog/CL.command.1.tlog
/compiler/vc14win32/Win32/PhysXFramework/debug/PhysXFramework.tlog/CL.read.1.tlog
/compiler/vc14win32/Win32/PhysXFramework/debug/PhysXFramework.tlog/CL.write.1.tlog
/compiler/vc14win32/Win32/PhysXFramework/debug/PhysXFramework.tlog/PhysXFramework.lastbuildstate
/compiler/vc14win32/Win32/PhysXFramework/debug/PhysXFramework.tlog/link.command.1.tlog
/compiler/vc14win32/Win32/PhysXFramework/debug/PhysXFramework.tlog/link.read.1.tlog
/compiler/vc14win32/Win32/PhysXFramework/debug/PhysXFramework.tlog/link.write.1.tlog
/compiler/vc14win32/Win32/PhysXFramework/debug/vc140.pdb
/compiler/vc14win32/Win32/PhysXFramework/release/ExtDefaultErrorCallback.obj
/compiler/vc14win32/Win32/PhysXFramework/release/NvPhysXFramework.obj
/compiler/vc14win32/Win32/PhysXFramework/release/PhysXFramework.log
/compiler/vc14win32/Win32/PhysXFramework/release/PhysXFramework.tlog/CL.command.1.tlog
/compiler/vc14win32/Win32/PhysXFramework/release/PhysXFramework.tlog/CL.read.1.tlog
/compiler/vc14win32/Win32/PhysXFramework/release/PhysXFramework.tlog/CL.write.1.tlog
/compiler/vc14win32/Win32/PhysXFramework/release/PhysXFramework.tlog/PhysXFramework.lastbuildstate
/compiler/vc14win32/Win32/PhysXFramework/release/PhysXFramework.tlog/link.command.1.tlog
/compiler/vc14win32/Win32/PhysXFramework/release/PhysXFramework.tlog/link.read.1.tlog
/compiler/vc14win32/Win32/PhysXFramework/release/PhysXFramework.tlog/link.write.1.tlog
/compiler/vc14win32/Win32/PhysXFramework/release/vc140.pdb
/compiler/vc14win64/.vs/PhysXFramework/v14/.suo
/compiler/vc14win64/PhysXFramework.VC.db
/compiler/vc14win64/x64/PhysXFramework/debug/ExtDefaultErrorCallback.obj
/compiler/vc14win64/x64/PhysXFramework/debug/NvPhysXFramework.obj
/compiler/vc14win64/x64/PhysXFramework/debug/PhysXFramework.log
/compiler/vc14win64/x64/PhysXFramework/debug/PhysXFramework.tlog/CL.command.1.tlog
/compiler/vc14win64/x64/PhysXFramework/debug/PhysXFramework.tlog/CL.read.1.tlog
/compiler/vc14win64/x64/PhysXFramework/debug/PhysXFramework.tlog/CL.write.1.tlog
/compiler/vc14win64/x64/PhysXFramework/debug/PhysXFramework.tlog/PhysXFramework.lastbuildstate
/compiler/vc14win64/x64/PhysXFramework/debug/PhysXFramework.tlog/link.command.1.tlog
/compiler/vc14win64/x64/PhysXFramework/debug/PhysXFramework.tlog/link.read.1.tlog
/compiler/vc14win64/x64/PhysXFramework/debug/PhysXFramework.tlog/link.write.1.tlog
/compiler/vc14win64/x64/PhysXFramework/debug/vc140.pdb
/compiler/vc14win64/x64/PhysXFramework/release/ExtDefaultErrorCallback.obj
/compiler/vc14win64/x64/PhysXFramework/release/NvPhysXFramework.obj
/compiler/vc14win64/x64/PhysXFramework/release/PhysXFramework.log
/compiler/vc14win64/x64/PhysXFramework/release/PhysXFramework.tlog/CL.command.1.tlog
/compiler/vc14win64/x64/PhysXFramework/release/PhysXFramework.tlog/CL.read.1.tlog
/compiler/vc14win64/x64/PhysXFramework/release/PhysXFramework.tlog/CL.write.1.tlog
/compiler/vc14win64/x64/PhysXFramework/release/PhysXFramework.tlog/PhysXFramework.lastbuildstate
/compiler/vc14win64/x64/PhysXFramework/release/PhysXFramework.tlog/link.command.1.tlog
/compiler/vc14win64/x64/PhysXFramework/release/PhysXFramework.tlog/link.read.1.tlog
/compiler/vc14win64/x64/PhysXFramework/release/PhysXFramework.tlog/link.write.1.tlog
/compiler/vc14win64/x64/PhysXFramework/release/vc140.pdb
/bin/win32/*.exp
/bin/win32/*.lib
/bin/win32/*.pdb
/bin/win32/*.ilk
/bin/win64/*.exp
/bin/win64/PhysXFramework64.lib
/bin/win64/PhysXFramework64DEBUG.lib
/bin/win64/*.pdb
/bin/win64/*.ilk
/bin/win64/SimpleHelloWorldDEBUG.exe
/compiler/vc14win32/.vs/SimpleHelloWorld/v14/*.suo
/compiler/vc14win32/*.db
/compiler/vc14win32/*.filters
/compiler/vc14win32/Win32/PhysXFramework/release
/compiler/vc14win32/Win32/SimpleHelloWorld/release
/compiler/vc14win64/.vs/SimpleHelloWorld/v14/*.suo
/compiler/vc14win64/*.db
/compiler/vc14win64/*.filters
/compiler/vc14win64/x64/PhysXFramework/debug
/compiler/vc14win64/x64/PhysXFramework/release
/compiler/vc14win64/x64/SimpleHelloWorld/debug
/compiler/vc14win64/x64/SimpleHelloWorld/release
/compiler/xpj/*.bak
/public/*.bak
/compiler/vc14win32/Win32/PhysXFramework/debug
/compiler/vc14win32/Win32/SimpleHelloWorld/debug
/*.bak
/src/*.bak
/bin/win32/NvRenderDebugDEBUG_x86.dll
/bin/win32/SimpleHelloWorldDEBUG.exe
/bin/win64/NvRenderDebugDEBUG_x64.dll
/compiler/vc14win64/.vs/config
/compiler/vc14win64/*.opendb
/compiler/vc14win64/*.xml
/include/*.bak
/bin/win64/*.bak
